<div class="dropdown is-active">
  <span><%= fa_icon "ellipsis-h", class:"ml-4 cursor-pointer" %></span>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        Edit
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item has-text-danger">
        Delete
      </a>
    </div>
  </div>
</div>