<div class="dropdown">
  <span data-tweet="dropdown-button-<%= tweet.id %>"><%= fa_icon "ellipsis-h", class:"ml-4 cursor-pointer" %></span>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        Edit
      </a>
      <hr class="dropdown-divider">
      <span class="dropdown-item">
        <%= link_to 'Delete', tweet_path(tweet.id), method: :delete, class:"has-text-danger" %>
      </span>
    </div>
  </div>
</div>

<script>
  (document.querySelectorAll('span[data-tweet="dropdown-button-<%= tweet.id %>"]') || []).forEach(($button) => {
      $button.addEventListener('click', (event) => {
          $button.parentNode.classList.toggle('is-active');
      })
  })
</script>