<div class="mb-6">
  <%= render "tweets/components/tweet/head", tweet: tweet %>
  <%= render "tweets/components/tweet/content", tweet: tweet %>
  <%= render "tweets/components/tweet/footer", tweet: tweet %>
</div>