.tweet-card {
  padding: 1rem;
  transition: background-color 150ms ease-in-out;
  box-sizing: content-box;
  border-bottom: 1px solid rgba(0, 0, 0, .3);

  &:hover {
    background: rgba(0,0,0, .02);
  }

  a {
    color: unset;
  }

  &__header {
    a {
      flex: 1;
    }

    &__author {
      flex: 1;
    }
  }
}